@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil
@import com.mamoreno.playseed.auth.UserInfo
@import com.mamoreno.playseed.models.User

@(user: UserInfo, users: Seq[User])(implicit request:RequestHeader, messages: Messages, assets: AssetsFinder, webJarsUtil: WebJarsUtil)

@main(messages("app.dashboard"), Some(user)) {
  <div class="row">
    <p> List of users (remove this text)</p>
    <ul id="users">
    @for(u <- users) {
      <li>@u.role - (id = @u.id, username = @u.username, email = @u.email)</li>
    }
    </ul>    
  </div>
}
